@media (min-width: 992px) and (max-width: 1199.98px) {
  .account-container {
    width: 43%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .account-container {
    width: 55%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .account-container {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .account-container {
    width: 90%;
  }
}
