.xususiyyet, .account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sehife-stil-yuxari, .stil1 {
  width: 40%;
  height: 90%;
  background-color: #ccf2f2;
  position: absolute;
  border-radius: 20%;
  top: -30%;
  left: -8%;
  transform: rotate(46deg);
  z-index: 1;
}

.sehife-stil-asagi, .stil2 {
  width: 40%;
  height: 90%;
  background-color: #ccf2f2;
  border-radius: 20%;
  right: -8%;
  bottom: -30%;
  transform: rotate(46deg);
  z-index: 1;
  position: absolute;
}

* {
  outline-style: none;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.account {
  background-color: #94ecf5;
}

.account-container {
  z-index: 2;
  padding: 45px 0;
  border-radius: 30px;
  background-color: #f2f0f0;
  text-align: center;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-container h4 {
  font-size: 32px;
  margin-bottom: 15px;
}

.account-container .info {
  margin-bottom: 20px;
  width: 65%;
  font-size: 14px;
}

.account-container button {
  font-size: 20px;
  color: white;
  padding: 16px;
  width: 43.33333%;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(5, 192, 164, 0.4);
  transition: 300ms;
}

.account-container button:hover {
  background-color: rgba(5, 192, 164, 0.566);
}

.account-container .sign {
  font-size: 13px;
  margin-top: 15px;
  width: 65%;
  display: flex;
  flex-direction: row;
  padding: 15px, 0;
  justify-content: center;
}

.account-container .sign p {
  margin-right: 5px;
}

.account-container .sign a {
  text-decoration: solid underline 1px #4196f7;
  transition: 300ms;
}

.account-container .sign a:hover {
  text-decoration: solid underline 1px rgba(223, 226, 229, 0.809);
}

.account-container input {
  padding: 16px;
  margin-bottom: 15px;
  width: 75%;
  border-radius: 10px;
  border: 1px solid #e1e0e0;
  transition: 250ms;
}

.account-container input:hover {
  border: 1px solid #c6c5c5;
}
