.xususiyyet {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sehife-stil-yuxari {
    width: 40%;
    height: 90%;
    background-color: rgb(204, 242, 242);
    position: absolute;
    border-radius: 20%;
    top: -30%;
    left: -8%; 
    transform:rotate(46deg);
    z-index: 1;
}
.sehife-stil-asagi {
    width: 40%;
    height: 90%;
    background-color: rgb(204, 242, 242);
    border-radius: 20%;
    right: -8%;
    bottom: -30%;
    transform:rotate(46deg);
    z-index: 1;
    position: absolute;
}